.site-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  bottom: 0;
  border-top: var(--border-width-md) solid var(--accent-clr);
  background: var(--primary-transparent-clr);
  box-shadow: var(--shadow-md);

  .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .links {
    // Layout
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      // Layout
      display: flex;
      // Box Model
      gap: 0.3rem;
      padding: 0;
      // Typography
      list-style: none;
    }

    .spacer {
      flex: var(--flex-auto);
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .social-links {
      // Layout
      display: flex;
      gap: 1rem;

      a {

        // Pseudo-elements & States
        &:hover {
          // Transforms & Transitions on footer social links
          transform: translateY(calc(var(--spacing-sm) * -1));
          transition: all 0.4s ease;
          color: inherit;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  }




  @media (min-width: 481px) and (max-width: 768px) {
      flex-direction: column;
      font-size: 0.95rem;
      padding: 0 8px;
      min-height: 48px;
      h4{ display: none;}
       .social .social-links{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
        justify-content:  flex-start;

      }
  }
  

  
  @media (min-width: 0px) and (max-width: 480px) {
      flex-direction: column;
      width: 100%;
      padding: 0 8px;
      h4{ display: none;}
      .rights-reserved{
        width: 100%;
      }

      .social .social-links{
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        justify-content:  flex-start;

      }
  }
}