<div class="container">

  @if(isLoading()){
  <div class="fullscreen-loading">
    <div class="spinner"></div>
  </div>
  }

  <!-- Header Section -->
  <div class="header-section">
    <div class="title-area">
      <h1>Leaderboard</h1>
      <p>Top players for {{ displayHeroName() }}</p>
    </div>
    
    <div class="hero-search">
      <form (submit)="onSearch(); $event.preventDefault()">
          <input type="text" class="search-box" name="heroName" [value]="searchHeroName()"
            (input)="updateSearchHeroName($any($event.target).value)" placeholder="Search by hero..." />
          <button type="submit" class="search-button" [disabled]="searchDisabled()">🔍</button>
      </form>
    </div>

    @if (selectedHero()) {
    <div class="leaderboard-header">
      <img [src]="getImageUrl(selectedHero()!.imageUrl)" [alt]="selectedHero()!.name" class="hero-image" />
      <div class="hero-header-details">
        <h1>{{ (selectedHero()!.name | titlecase) || 'All Heroes' }}</h1>
        <mat-icon class="icon-hero">sports_esports</mat-icon>
        <p>{{ selectedHero()!.bio }}</p>
        <div class="difficulty-rating">
          <span>Difficulty:</span>
          @for (star of [1,2,3,4,5]; track star) {
          <mat-icon>
            {{ star <= +(selectedHero()?.difficulty ?? 0) ? 'star' : 'star_border' }} </mat-icon>
              }
        </div>
      </div>
    </div>
    }
  </div>

  @if(!isLoading() && hasPlayers()){
  <mr-leaderboard-table [players]='players()'></mr-leaderboard-table>
  }

</div>