
$primary-color: #746303fd;
$secondary-color: #000000fd;
$tertiary-color: #a39542fd;
$primary-text-size: 14px;

// Backgrounds
$main-bg: #0a0606;

// Buttons
$btn-bg: #161301fd;
$btn-text: #fff;

// Labels
$label-bg: #000;
$label-text: #e0e0e0;

// Headings
$heading-bg:  $secondary-color;
$heading-text: #fdfdfb;
$lightness: 81%;

// Section text
$section-bg: lighten($secondary-color, 4%);
$section-text: #ffffff;

// Table row alternate
$table-row-odd: $section-bg;
$table-row-even: #746303fd;

// Table
$table-bg: #554802fd;
$table-text: #fff;

$table-alt-bg: #222222;
$table-alt-text: #fff;

$table-th-bg: $label-bg;
$table-th-text: $label-text;

// General
$p-text: #000;

// Border
$border-bg: #b1aa83fd;
$border-text: #ffffff;

//Validation
$error-bg: #570303; // or your preferred error color
$error-text: #fff;

//Validation
$success-bg: #08c918af; // or your preferred error color
$success-text: #fff;

$shadow-effect: rgba($tertiary-color, 0.5);

@mixin snackbar-base($bg, $text) {
  background-color: $bg !important;
  color: $text !important;
  border-radius: 18px;
} 