<div class="container">
        <div class="left">
            <img class="logo" src="/assets/images/logo.png" alt="Logo" />
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/news" routerLinkActive="active">News</a>
            <a routerLink="/heroes" routerLinkActive="active">Heroes</a>    
            <a routerLink="/matches" routerLinkActive="active">Match History</a>
            <a routerLink="/hero-board" routerLinkActive="active">Hero Board</a>                        
        </div>
  </div>
  