.container {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 10px;
    margin: -3px -8px 0 -8px;
    padding: 0 8px 5px 8px;
    color: #fff;
    border-bottom: 2px solid #818285;
  }
  
.site-header-toolbar{
  flex: 1 1 auto;
}
  .site-header-content {
    display: flex;
    align-items: center;
    width: 100%;
    .logo {
      height: 48px;
      margin-right: 24px;
    }
    .spacer {
      flex: 1 1 auto;
    }
    nav {
      display: flex;
      align-items: center;
    }
}
