<div *ngIf="errorLoading" class="error-message">
    {{ errorMessage }} <br/>
    <button (click)="onBack()">Go Back</button>
</div>
<div *ngIf="!errorLoading" class="match-details-container">
    <div class="match-header">
        <h1> Players Match Details</h1>
        <div class="match-info">
            <div>
                <span class="label">Match UID: </span>
                <span class="value">{{ match_details?.match_uid }}</span>
            </div>
            <div>
                <span class="label">Game Mode: </span>
                <span class="value">{{ match_details?.game_mode?.game_mode_name }}</span>
            </div>
            <div>
                <span class="label">Replay ID: </span>
                <span class="value">{{ match_details?.replay_id }}</span>
            </div>
        </div>
        <div class="mvp-svp-info">
            <div class="mvp-info">
                <span class="label">MVP: </span>
                <span class="value">{{ match_details?.mvp_uid }}</span>
            </div>
            <div class="svp-info">
                <span class="label">SVP: </span>
                <span class="value">{{ match_details?.svp_uid }}</span>
            </div>
        </div>
    </div>

    <div class="players-table-wrapper">
        <table class="players-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Camp</th>
                    <th>Win</th>
                    <th>Hero</th>
                    <th>K</th>
                    <th>D</th>
                    <th>A</th>
                    <th>Hero Damage</th>
                    <th>Hero Heal</th>
                    <th>Damage Taken</th>
                    <th>Heroes Played</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of match_details?.match_players" [class.winner]="player.is_win">
                    <td>{{ player.nick_name }}</td>
                    <td>{{ player.camp }}</td>
                    <td>
                        <span *ngIf="player.is_win" class="win-badge">Winner</span>
                    </td>
                    <td>
                        <img [src]="'https://marvelrivalsapi.com/rivals/' + player.cur_hero_icon" alt="Hero"
                            class="hero-icon" />
                    </td>
                    <td>{{ player.kills }}</td>
                    <td>{{ player.deaths }}</td>
                    <td>{{ player.assists }}</td>
                    <td>{{ player.total_hero_damage | number:'1.0-0' }}</td>
                    <td>{{ player.total_hero_heal | number:'1.0-0' }}</td>
                    <td>{{ player.total_damage_taken | number:'1.0-0'}}</td>
<td>
  <div *ngFor="let hero of player.player_heroes" class="hero-played" style="margin-bottom: 6px;">
    <img [src]="'https://marvelrivalsapi.com/rivals/' + hero.hero_icon" alt="Hero Icon" class="hero-icon-small" /><br>
    <span><b>Time:</b> {{ hero.play_time | number:'1.0-0' }}s</span><br>
    <span><b>K/D/A:</b> {{ hero.kills| number:'1.0-0' }}/{{ hero.deaths }}/{{ hero.assists }}</span><br>
    <span><b>Hit:</b> {{ hero.session_hit_rate | number:'1.0-0' }}%</span>
  </div>
</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>