<div class="maps-list">
  <div *ngFor="let map of gameMaps" class="map-card">
    <div class="map-image">
      <img [src]="getMapImageUrl(map)" alt="{{ map.name }}" />
    </div>
    <div class="map-info">
      <div class="map-title">{{ map.name }}</div>
      <div class="map-id">ID: {{ map.id }}</div>
      <div class="map-fullname">{{ map.full_name }}</div>
      <div class="map-meta">
        <div><span class="map-meta-label">Location</span> {{ map.location }}</div>
        <div><span class="map-meta-label">Mode</span> {{ map.game_mode }}</div>
        <div *ngIf="map.is_competitve"><span class="map-meta-label">Competitive</span></div>
      </div>
      <p class="map-description">{{ map.description }}</p>
      <div class="map-links">
        <ng-container *ngIf="map.video">
          <div class="video-responsive">
            <iframe
              [src]="getVideoUrl(map.video) | safeUrl"
              frameborder="0"
              allowfullscreen>
            </iframe>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>