<footer class="site-footer">
      <div class="brand">
        <h3>Marvel Rivals Stats<span>.</span></h3>
        <div>
        <p>A modern Full-Stack web application.</p>
        </div>
      </div>
      
      <div class="links">
        <h4>Quick Links</h4>
        <div>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/dev-diaries">Dev Diaries</a></li>
          <li><a routerLink="/heroes">Heroes</a></li>
          <li><a routerLink="/match-history">Match History</a></li>
          <li><a routerLink="/leaderboard">Leader Board</a></li>
        </ul>
        </div>
      </div>
      
      <div class="social">
        <h4>Social</h4>
        <div class="social-links">
          <a target="_blank" href="https://github.com/anthonybturner" aria-label="GitHub"><i class="fab fa-github"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/anthony-turner-0207b76b/" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
          <a target="_blank" href="mailto:anthonybturner@icloud.com" aria-label="Email"><i class="fas fa-envelope"></i></a>
        </div>
     </div>
    <div class="bottom">
     <h4>
          Footer
     </h4>
     <div class="rights-reserved">
      <p>&copy; Marvel Rivals Stats. All rights reserved.</p>
      </div>
    </div>
</footer>