.site-footer {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  bottom: 0;
  padding-top:var(--padding-sm);
  border-top: var(--border-width-md) solid var(--accent-clr);
  background: var(--primary-transparent-clr);
  box-shadow: var(--shadow-md);

  .brand{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .links {
    // Layout
    display: flex;
    flex-direction: column;
    align-items: center;
    
    ul {
      // Layout
      display: flex;
      // Box Model
      padding: 0;
      gap: 1rem;
      // Typography
      list-style: none;
    }

    .spacer {
      flex: var(--flex-auto);
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .social-links {
      // Layout
      display: flex;
      gap: 1rem;
      a {
        // Pseudo-elements & States
        &:hover {
          // Transforms & Transitions on footer social links
          transform: translateY(calc(var(--spacing-sm) * -1));
          transition: all 0.4s ease;
          color: inherit;
        }
      }
    }
  }

  .bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  }
}



@media (max-width: 768px) {
  .site-footer {
    font-size: 0.95rem;
    padding: 0 8px;
    min-height: 48px;
  }
}