<div class="hero-details-flex">
    <div class="hero-header-col">
        <mat-card-header>
            <mat-card-title>{{hero.name | titlecase}} Leader Boards</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="hero-portrait" [src]="getImageUrl(hero.imageUrl, 'hero')"
            [alt]="hero.name + ' full portrait'">
    </div>
    <div class="hero-content-col">
        <mat-card-content class="hero-content-col">
            <div><b>Real name:</b> {{ hero.real_name }}</div>
            <div><b>Attack type:</b> {{ hero.attack_type }}</div>
            <div>
                <b>Team:</b>
                <span *ngFor="let team of hero.team">
                    {{ team }}
                </span>
            </div>
            <div class="bio"> <b>Bio:</b> {{ hero.bio }}</div>
        </mat-card-content>
    </div>
</div>