<div class="details-card">
    <div class="header-col">
        <mat-card-header>
            <mat-card-title>{{hero.name | titlecase}}</mat-card-title>
             <mat-card-subtitle>
                    <img [src]="getRoleImage(hero.role)" alt="{{hero.role}} icon" class="role-icon">
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="detail-portrait" [src]="getImageUrl(hero.imageUrl, 'hero')"
            [alt]="hero.name + ' full portrait'">
    </div>
</div>