<div class="dashboard">
    <h1 class="dashboard-header">Dashboard</h1>
  
    <div class="dashboard-content">
      <mat-grid-list cols="2" rowHeight="300px">
        <!-- Latest News -->
        <mat-grid-tile>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Latest News</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
  
        <!-- Latest Tutorials -->
        <mat-grid-tile>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Latest Tutorials</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  