<div class="dashboard">
  <h1>Welcome to Marvel Rivals Fan Hub!</h1>
  <div class="dashboard-intro">
    <p>Here you can find all the latest news, stats, and information about your favorite Marvel heroes and their epic
      battles.</p>
    <p>Explore the latest updates, track your favorite heroes, and stay connected with the Marvel Rivals community.</p>
    <p>Join us in celebrating the Marvel Rivals universe!</p>
    <div class="dashboard-links">
    <button class="primary" routerLink="/leaderboard">View Leader Board</button>
    <button class="primary" routerLink="/heroes">Browse Heroes</button>
    <button class="primary" routerLink="/match-history">Match History</button>
    <button class="primary" routerLink="/news">News</button>
  </div>
  </div>
  <div class="dashboard-cards">
    <!--<app-quick-stats></app-quick-stats>
     <app-featured-hero></app-featured-hero> 
    <app-latest-news></app-latest-news>-->
  </div>
  
</div>