<div class="match-history-container">
  <div class="hero-search">
    <form (ngSubmit)="onSearch()" #searchForm="ngForm">
      <input type="text" class="search-box" name="playerName" [(ngModel)]="searchPlayerName"
        placeholder="Search player..." />
    </form>
  </div>
  <div class="match-history-layout">
    <div class="match-list-panel">
      <h1>Matches</h1>
      <h3> {{searchPlayerName}}</h3>
      <div *ngFor="let match of matchHistory" class="match-history-card" (click)="onMatchClick(match)">
        <div>
          <img [src]="'https://marvelrivalsapi.com/rivals/' + match.map_thumbnail" [alt]="'Map ' + match.match_map_id"
            class="map-thumb" />
          <div class="match-meta">
            <div><b>Map ID:</b> {{ match.match_map_id }}</div>
            <div><b>Season:</b> {{ match.match_season }}</div>
            <div><b>Duration:</b> {{ match.match_play_duration }}</div>
            <div><b>Date:</b> {{ match.match_time_stamp * 1000 | date:'medium' }}</div>
            <div><b>Game Mode:</b> {{ match.game_mode_id }}</div>
            <div><b>Play Mode:</b> {{ match.play_mode_id }}</div>
            <div><b>Winner Side:</b> {{ match.match_winner_side ? 'Yes': 'No' }}</div>
            <div><b>Final Score:</b>
              <ng-container *ngFor="let entry of match.score_info | keyvalue; let last = last">
                {{ entry.value }}<span *ngIf="!last"> - </span>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="player-stats">
          <div class="hero-info">
            <img [src]="'https://marvelrivalsapi.com/rivals/' + match.match_player.player_hero.hero_type"
              [alt]="match.match_player.player_hero.hero_name" class="hero-icon" />
            <span class="hero-name">{{ match.match_player.player_hero.hero_name | titlecase }}</span>
            <span class="play-time">({{ match.match_player.player_hero.play_time.formatted }})</span>
          </div>
          <div class="stat-row">
            <span><b>Kills:</b> {{ match.match_player.kills }}</span>
            <span><b>Deaths:</b> {{ match.match_player.deaths }}</span>
            <span><b>Assists:</b> {{ match.match_player.assists }}</span>
            <span><b>Win:</b> <mat-icon color="primary">{{ match.match_player.is_win.is_win ? 'check_circle' : 'cancel'
                }}</mat-icon></span>
            <span><b>Disconnected:</b> <mat-icon color="warn">{{ match.match_player.disconnected ? 'warning' :
                'check_circle' }}</mat-icon></span>
          </div>
          <div class="stat-row">
            <span><b>Hero K/D/A:</b> {{ match.match_player.player_hero.kills }}/{{ match.match_player.player_hero.deaths
              }}/{{ match.match_player.player_hero.assists }}</span>
            <span><b>Hero Damage:</b> {{ match.match_player.player_hero.total_hero_damage | number }}</span>
            <span><b>Damage Taken:</b> {{ match.match_player.player_hero.total_damage_taken | number }}</span>
            <span><b>Hero Heal:</b> {{ match.match_player.player_hero.total_hero_heal | number }}</span>
          </div>
          <div class="stat-row">
            <span><b>Score Change:</b> {{ match.match_player.score_info.add_score | number:'1.0-2' }}</span>
            <span><b>Level:</b> {{ match.match_player.score_info.level }}</span>
            <span><b>New Level:</b> {{ match.match_player.score_info.new_level }}</span>
            <span><b>New Score:</b> {{ match.match_player.score_info.new_score | number:'1.0-2' }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="match-details-panel">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>