/* You can add global styles to this file, and also import other style files */
@use 'assets/scss/config' as *;
@use 'assets/scss/global' as *;

// Table styles
table {
  width: 100%;
  margin-top: 0.2rem;
}

table thead {
  background: $main-bg;
}

.stats-section .heroes-table tr:nth-child(odd) {
  background-color: $table-row-odd;
}
.stats-section .heroes-table tr:nth-child(even) {
  background-color: $table-row-even;
}

// Table headers and labels
table th,
.stat-label {
  background: $table-th-bg;
  color: $table-th-text;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 4px;
}

//Icons
.player-icon {
  @include image-icon-styles;
  width: 80px;
  height: 80px;
}


// Buttons
button,
button[mat-raised-button],
.mdc-button,
.mat-mdc-button-base {
  cursor: pointer;
}
button {
  background: $btn-bg;
  color: $btn-text;
  display: block;
  width: 68px !important;
  border-radius: 10px;
  height: 42px !important;
}

// Headings
h4 {
  background: $heading-bg;
  color: $heading-text;
  padding: 0.2rem;
  border-radius: 4px;
  margin: 0 !important;
}

// Search box
.search-box-container {
  padding: 6px;
  border-radius: 8px;
  width: 100%;
  justify-content: flex-start; // aligns content to the left
  align-self: flex-end; // aligns this item to the bottom of the row
}

// Top section layout
.top-section-container {
  display: flex;;
  align-items: flex-end; // aligns children to the bottom
  font-size: $primary-text-size;

}
.top-section-container  {
  .search-box-container{
    flex: .3;
  }
}
.top-section-container  {
  .rank-icon{
    width: 80px;
    height: 80px;
    @include image-icon-styles;
  }
}
.top-section-container .stats-section {
  flex: .3;
}
.top-section-container .stats-section table {
  background-color: $table-bg;
  border-radius: 8px;
}
.top-section-container .stats-section td {
  text-align: center;
}
.update-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 8px;
  vertical-align: middle;
}
.dot-green{
  background-color: darken($success-bg, 0%);
}

.dot-red{
  background-color: darken($error-bg, 5%);
}
//Middle section layout
.middle-section-container {
  display: flex;
  gap: .5rem;
  font-size: $primary-text-size;
}
.middle-section-container .stats-section {
  flex: .5;
}
.middle-section-container .stats-section table {
  background-color: $table-bg;
  border-radius: 8px;
}
.middle-section-container .stats-section td {
  text-align: center;
}

// Stats section
.stats-section {
  background: $section-bg;
  color: $section-text;
  padding: 6px;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow:inset 0 0 10px $shadow-effect;
  text-align: center;
}
.stats-section .player-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//Spinner
.fullscreen-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(10, 6, 6, 0.603); // nearly black, mostly opaque
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #746303fd;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.error-snackbar,
.mdc-snackbar__surface,
.mat-mdc-snackbar-surface {
  @include snackbar-base($error-bg, $error-text);
}

.success-snackbar,
.mdc-snackbar__surface,
.mat-mdc-snackbar-surface{
  @include snackbar-base($success-bg, $success-text);
}